.navbar{
    background-color: #4169e1;
    overflow: scroll;
    border-radius: 30px;
    padding: 5px;
    margin:5px;
}
.head{
    float: left;
    padding-left: 30px;
    color: aliceblue;
}
.list{
    float: right;
    padding-top: 20px;
    margin: 3px 40px;
   
}
